repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
    - id: ruff-check
    - id: ruff-format
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.408
  hooks:
  - id: pyright
- repo: local
  hooks:
    - id: pytest-check
      name: pytest-check
      entry: poetry run pytest
      language: system
      pass_filenames: false
      always_run: true